
#box {
    width: 500px;
    height: 550px;
    margin: 65px 0px 0px 485px;
    border: 1px solid #7a7878;
    background-color: rgba(255, 255, 255, 0.4);
}

#box>label,#signbox>label {
    padding: 0px 0px 50px 80px;
    height: 15px;
    color: white;
}

#box>input,#signbox>input{
    margin: 10px 0px 10px 80px;
    border-radius: 5px;
    border: 1px solid black;
    width: 350px;
    height: 40px;
    text-indent: 8px;
}

button {
    padding: 10px 50px 10px 50px;
    border-radius: 8px;
    margin: 20px 0px 0px 180px;
    background-color: white;
    border: 1px solid black;
}

button:hover{
    background-color: rgba(99, 98, 178, 0.685);
    border: 1px solid black;
    border-radius: 8px;
}

